* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 8px;
  width: 80%;
  box-shadow: 2px 4px 6px #494747;
  margin: 0 auto;
  padding: 30px;
  line-height: 2;
}

h1 {
  color: #000;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}

input {
  padding: 5px;
  width: 80%;
}

label {
  padding: 10px 0;
}

.chunks,
.second-rectangle,
.rectangle {
  height: fit-content;
  padding: 10px 0;
}

.action {
  padding: 8px 18px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 6px 8px #343436;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.action:hover {
  cursor: pointer;
  transform: translateY(3px);
}
