@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container {
  border-radius: 8px;
  width: 80%;
  box-shadow: 2px 4px 6px #494747;
  margin: 0 auto;
  padding: 30px;
  line-height: 2;
  font-family: Poppins, sans-serif;
}

h1 {
  color: #000;
  text-align: center;
  padding: 50px 0;
  font-family: Poppins, sans-serif;
  font-size: 40px;
}

.div-for-input {
  /* display: flex; */
  /* gap: 10px; */
  /* background: red; */
}

input {
  padding: 8px;
  border-radius: 5px;
  width: 72%;
  font-weight: 600;
}

.small-text {
  color: red;
  font-style: italic;
}

label {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
}

.chunks,
.second-rectangle,
.rectangle {
  height: fit-content;
  padding: 10px 0;
}

.action {
  padding: 8px 18px;
  border-radius: 5px;
  margin: 0 auto;
  /* display: flex;
  justify-content: center; */
  /* font-size: 15px; */
}

.action:hover {
  cursor: pointer;
  transform: translateY(3px);
}
